:root {
  --background: var(--color-background-100);
  --foreground: var(--color-foreground-100);

  /* Base Colors */
  --color-black: #231F1E;
  --color-neutral-100: #665F5E;
  --color-neutral-200: #807E76;
  --color-neutral-300: #857C7B;
  --color-neutral-400: #908785;
  --color-neutral-500: #BEB4B3;
  --color-neutral-600: #D9D3D2;
  --color-neutral-700: #E7E3E2;
  --color-neutral-800: #EEEBEB;
  --color-neutral-900: #F7F5F5;
  --color-white: #FAF9F9;

  /* Background Colors */
  --color-background-100: var(--color-white);
  --color-background-200: var(--color-neutral-900);
  --color-background-300: var(--color-neutral-800);
  
  /* Foreground Colors */
  --color-foreground-100: var(--color-neutral-100);
  --color-foreground-200: var(--color-neutral-100);
  --color-foreground-300: var(--color-neutral-200);

  /* Border Colors */
  --color-border-1st: var(--color-neutral-800);
  --color-border-2nd: var(--color-neutral-600);
  --color-border-3rd: var(--color-neutral-400);

  /* Theme Colors */
  --color-primary: #FF5101;
  --color-primary-bg: #FFD3BF;
  --color-primary-fg: #FBF9F8;
  --color-secondary: #3B61FF;
  --color-secondary-bg: #C8D8FF;
  --color-secondary-fg: var(--color-white);
  --color-tertiary: #BFFF00;
  --color-tertiary-bg: #DDFF77;
  --color-tertiary-fg: var(--color-black);

  /* System Colors */
  --color-error: #FF6060;
  --color-pending: #FFF026;
  --color-success: #60FF70;
  --color-warning: #FFA52F;

  /* Shadows */
  --color-shadow-sm: 0 1px 2px rgb(from var(--color-neutral-400) r g b / 0.1);

  /* Fonts */
  --font-heading: "Gelica Light", sans-serif;
  --font-heading-italic: "Gelica Light Italic", sans-serif;
  --font-body: "Proxima Nova", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  /* Sizes */
  --base-size-20: 0.125em;
  --base-size-40: 0.25em;
  --base-size-80: 0.5em;
  --base-size-100: 0.625em;
  --base-size-120: 0.75em;
  --base-size-160: 1em;
  --base-size-200: 1.25em;
  --base-size-240: 1.5em;
  --base-size-320: 2em;
  --base-size-480: 3em;
  --base-size-640: 4em;

  /* Padding */
  --size-padding-2xl: clamp(2.5rem, 3vw, 5rem);;
  --size-padding-xl: clamp(1.5rem, 2vw, 4rem);
  --size-padding-lg: clamp(1rem, 1.5vw, 3rem);
  --size-padding-md: clamp(0.875rem, 1vw, 1.2rem);
  --size-padding-sm: clamp(0.75rem, 0.875vw, 1rem);
  --size-padding-xs: clamp(0.5rem, 0.625vw, 0.75rem);
  --size-padding-2xs: clamp(0.3rem, 0.4vw, 0.5rem);

  /* Wrapper */
  --size-wrapper: clamp(320px, 90%, 1200px);

  /* Min and max screen sizes */ 
  --screen-min-width: 3;
  --screen-max-width: 180;

  /* Min and max font-sizes for each header type */  
  --h1-min-size: 1.6;
  --h1-max-size: 1.8;

  --h2-min-size: 1.3;
  --h2-max-size: 1.6;

  --h3-min-size: 1.15;
  --h3-max-size: 1.4;

  --h4-min-size: 1.1;
  --h4-max-size: 1.2;

  /* Font scaling calculations */  
  --h1-slope: calc((var(--h1-max-size) - var(--h1-min-size)) / (var(--screen-max-width) - var(--screen-min-width)));
  --h2-slope: calc((var(--h2-max-size) - var(--h2-min-size)) / (var(--screen-max-width) - var(--screen-min-width)));
  --h3-slope: calc((var(--h3-max-size) - var(--h3-min-size)) / (var(--screen-max-width) - var(--screen-min-width)));
  --h4-slope: calc((var(--h4-max-size) - var(--h4-min-size)) / (var(--screen-max-width) - var(--screen-min-width)));

  --h1-intersection: calc((-1 * var(--screen-min-width) * var(--h1-slope)) + var(--h1-min-size));
  --h2-intersection: calc((-1 * var(--screen-min-width) * var(--h2-slope)) + var(--h2-min-size));
  --h3-intersection: calc((-1 * var(--screen-min-width) * var(--h3-slope)) + var(--h3-min-size));
  --h4-intersection: calc((-1 * var(--screen-min-width) * var(--h4-slope)) + var(--h4-min-size));

  --h1-preferred: calc(var(--h1-intersection) + (var(--h1-slope) * 100));
  --h2-preferred: calc(var(--h2-intersection) + (var(--h2-slope) * 100));
  --h3-preferred: calc(var(--h3-intersection) + (var(--h3-slope) * 100));
  --h4-preferred: calc(var(--h4-intersection) + (var(--h4-slope) * 100));

  --h1-min: calc(var(--h1-min-size) * 1rem);
  --h1-mid: calc(var(--h1-preferred) * 1vw);
  --h1-max: calc(var(--h1-max-size) * 1rem);

  --h2-min: calc(var(--h2-min-size) * 1rem);
  --h2-mid: calc(var(--h2-preferred) * 1vw);
  --h2-max: calc(var(--h2-max-size) * 1rem);

  --h3-min: calc(var(--h3-min-size) * 1rem);
  --h3-mid: calc(var(--h3-preferred) * 1vw);
  --h3-max: calc(var(--h3-max-size) * 1rem);

  --h4-min: calc(var(--h4-min-size) * 1rem);
  --h4-mid: calc(var(--h4-preferred) * 1vw);
  --h4-max: calc(var(--h4-max-size) * 1rem);

  /* Font sizes */
  --size-heading-lg: clamp(var(--h1-min), var(--h1-mid), var(--h1-max));
  --size-heading-md: clamp(var(--h2-min), var(--h2-mid), var(--h2-max));
  --size-heading-sm: clamp(var(--h3-min), var(--h3-mid), var(--h3-max));
  --size-heading-xs: clamp(var(--h4-min), var(--h4-mid), var(--h4-max));
  --size-type-body: clamp(1rem, 1rem + 0.1vw, 1.2rem); 
  --size-type-caption: clamp(0.75rem, 0.2rem + 0.6vw, 0.875rem);
  --size-type-small: clamp(0.625rem, 0.15rem + 0.4vw, 0.75rem);

  /* Transitions */
  --transition-x-slow: all 250ms ease-out;
  --transition-slow: all 200ms ease-out;
  --transition-md: all 150ms ease-out;
  --transition-fast: all 100ms ease-out;
  --transition-x-fast: all 50ms ease-out;
}


/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: auto;
  height: auto;
  overflow-anchor: auto;
  font-family: var(--font-body);
  font-size: var(--size-type-body);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  padding-bottom: env(safe-area-inset-bottom);
  color: var(--color-foreground-100);
  background: var(--color-background-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
h1, h2, h3, h4, h5, th {
  color: var(--color-black);
  font-family: var(--font-heading);
  font-weight: normal;
  line-height: 1.4;
}

h1 {
  font-size: var(--size-heading-lg);
}

h2 {
  font-size: var(--size-heading-md);

  a {
    color: inherit;
  }
}

h3 {
  font-size: var(--size-heading-sm);
}

h4 {
  font-size: var(--size-heading-xs);
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: 600;
}

p {
  font-family: var(--font-body);
  font-size: var(--size-type-body);
  line-height: 1.5;
}

a {
  box-sizing: border-box;
  color: var(--color-secondary);
  text-decoration: none;

  svg {
    width: var(--base-size-100);
    stroke-width: 0.05rem;
    aspect-ratio: 1/1;
    margin-top: 3%;
    transition: var(--transition-fast);
  }
}

a:hover:not(.btn) {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 0.2em;

  .arrow-left {
    color: var(--color-primary);
    transform: translateX(-0.1rem);
  }

  .arrow-right {
    color: var(--color-primary);
    transform: translateX(0.1rem);
  }
}

a.noborder:hover {
  text-decoration: inherit;
}

ol, ul {
  margin-left: var(--base-size-200);

  li {
    margin-left: var(--size-padding-sm);
    line-height: 1.5;
  }

  li + li, li li {
    margin-block-start: var(--size-padding-2xs);
  }

  li::marker {
    font-family: var(--font-mono);
    font-size: var(--size-type-caption);
  }
}

ul {
  list-style-type: square;
}

ul li {
  display: list-item;

  div {
    display: inline-block;
    vertical-align: top;
    margin-left: var(--size-padding-xs);
  }
}

ul li::marker {
  color: var(--color-primary);
  font-family: var(--font-mono);
  font-size: var(--size-type-body);
}

ol {
  list-style-type: decimal-leading-zero;
}

ol li {
  display: list-item;

  div {
    margin-left: var(--size-padding-xs);
  }
}

ol li::marker {
  color: var(--color-foreground-300);
  
}

.bookmark + .bookmark, .bookmark .bookmark {
  margin-block-start: var(--size-padding-xs);
}

.italic {
  font-family: var(--font-heading-italic);
}

mark {
  background-color: var(--color-tertiary-bg);
  color: var(--color-tertiary-fg);
}

dt, .small, small {
  color: var(--color-foreground-300);
  font-family: var(--font-mono);
  font-size: var(--size-type-small);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6%;
}

dd, .item {
  font-size: var(--size-type-caption);
}

kbd {
  display: inline-flex;
  align-items: center;
  padding: 0.05rem var(--size-padding-2xs);
  background-color: var(--color-background-200);
  border: 0.08rem solid var(--color-border-2nd);
  border-radius: var(--size-padding-2xs);
  font-family: var(--font-mono);
  font-size: var(--size-type-caption);
}

code, .astro-code, .astro-code span {
  padding: 0.05rem var(--size-padding-2xs);
  background-color: var(--color-background-200) !important;
  border-radius: var(--size-padding-2xs);
  font-family: var(--font-mono);
  font-size: var(--size-type-caption);
}

blockquote {
  border-left: 4px solid var(--color-border-1st);
  padding-left: var(--size-padding-md);
  font-family: var(--font-heading-italic);
  color: var(--color-foreground-300);

  * {
    font-family: inherit;
  }
}

.subline {
  display: flex;
  flex-direction: column;
  color: var(--color-foreground-200);
  gap: var(--size-padding-sm);

  p {
    color: inherit;
  }
}

.caption, .callout-title p {
  color: var(--color-foreground-300);
  font-family: var(--font-mono);
  font-size: var(--size-type-caption);
  font-weight: normal;
}

.caption.label, .callout-title {
  display: inline-flex;
  align-items: center;
  gap: var(--size-padding-xs);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 6%;
}

.emphasis {
  color: var(--color-foreground-100);
}

a .emphasis:hover {
  color: var(--color-primary);
}

.subtle {
  color: var(--color-foreground-300);
}

/* Markdown Content */
pre, .astro-code {
  padding: var(--size-padding-sm) var(--size-padding-md);

  * {
    padding: unset;
    background-color: unset;
    border-radius: unset;
    font-family: var(--font-mono);
    font-size: var(--size-type-caption);
    tab-size: 2;
  }
}

.content .footnotes {
  gap: var(--size-padding-xs); 
  
  ol li div {
    display: flex;
  }
}

.data-footnote-backref {
  color: var(--color-secondary);
  stroke-width: 0.05rem;

  :hover {
    color: var(--color-primary);
  }
}

.task-list-item {
  list-style-type: none;

  input {
    margin-right: var(--size-padding-xs);
  }
}

.card.note, .callout.note {
  display: flex;
  flex-direction: column;
  gap: var(--size-padding-xs);
  padding: var(--size-padding-xl);
  background-color: var(--color-background-200);
  border-left: unset;

  .callout-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-padding-sm);
    font-family: var(--font-body);
    color: var(--color-foreground-200);
    line-height: 1.5;
  }
}

.callout-icon {
  display: none;
}

.anchor {
  opacity: 0;
  text-decoration: none;
  color: var(--color-foreground-300);
  font-size: inherit;
  margin-left: var(--size-padding-2xs);
  transition: opacity 0.2s;
}

h2:hover .anchor,
h3:hover .anchor {
  opacity: 1;
}

/* Layouts */
main {
  display: flex;
  flex-direction: column;
}

main + * {
  margin-top: var(--size-padding-xl);
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--size-padding-sm);
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 75ch;
  margin: auto;
  margin-top: var(--size-padding-2xl);
  gap: var(--size-padding-md);
  padding: var(--size-padding-lg);
}

.text.lg {
  gap: var(--size-padding-xl);
}

.container {
  padding: var(--size-padding-lg);
}

.full-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: var(--size-padding-sm);
}

.stack {
  position: relative;
}

/* Tables */
th {
  padding: var(--size-padding-sm);
  padding-bottom: unset;
}

td {
  padding: var(--size-padding-sm);
  padding-top: var(--size-padding-2xs);
  color: var(--color-foreground-200);
  vertical-align: text-top;
}

/* Columns */
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--size-padding-md);
}

.column.xs {
  gap: var(--size-padding-xs);
}

.column.sm {
  gap: var(--size-padding-sm);
}

.column.lg {
  gap: var(--size-padding-xl);
}

/* Rows */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-padding-sm);
}

.row.wrap {
  flex-wrap: wrap;

  > * {
    flex-grow: 2;
    width: 0;
  }
}

.row.start {
  align-items: flex-start;
}

.row.end {
  align-items: flex-end;
}

.row.sm {
  gap: var(--size-padding-xs);
}

.row.md {
  gap: var(--size-padding-md);
}

.row.lg {
  gap: var(--size-padding-lg);
}

.item.row {
  gap: var(--size-padding-sm);
}

/* Stretch */
.stretch {
  width: 100%;
}

.vertical.stretch {
  height: stretch;
}

.stretch.apart {
  justify-content: space-between;
}

/* Alignment */
.horizontal.center {
  margin: 0 auto;
  justify-content: center;
}

.vertical.center {
  vertical-align: center;
  align-items: center;
}

.right {
  justify-content: flex-end;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  margin: 0 var(--size-padding-lg) var(--size-padding-lg) var(--size-padding-lg);
  gap: var(--size-padding-sm);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 50dvh;
  padding: var(--size-padding-xl);
  background-color: var(--color-primary);
  color: var(--color-primary-fg);
}

footer .container > * {
  color: var(--color-primary-fg);
  text-align: center;
  text-wrap: pretty;
}

footer .portrait {
  position: absolute;
  right: 8vw;
  bottom: 4vh;
  transform: rotate3d(0, 0, 1, -8deg);
}

/* Cards */
footer #mail {
  bottom: 65%;
  transform: rotate3d(0,0,1,-6deg);
}

footer #linkedin {
  left: 12%;
  top: 65%;
  transform: rotate3d(0, 0, 1, 4deg);
  z-index: 1;
}

footer #additional {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

footer .social {
  color: var(--color-foreground-300);
  aspect-ratio: 1/1;
  font-size: unset;

  svg {
    width: var(--size-padding-md);
    margin: unset;
  }
}

footer .social:hover {
  color: var(--color-foreground-200);
}

@media (max-width: 768px) {
  footer {
    gap: var(--size-padding-md);
  }

  footer #additional {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-padding-xs);
  }

  #socials {
    order: 3;
  }

  #copyright {
    order: 2;
  }

  #misc {
    order: 1;
  }
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-background-200);
  transition: var(--transition-fast);

  * {
    text-align: inherit;
  }
}

.card.sm {
  padding: var(--size-padding-sm);
}

.card.md {
  padding: var(--size-padding-md);
  gap: var(--size-padding-sm);
}

.card.lg {
  padding: var(--size-padding-lg);
  gap: var(--size-padding-xs);
}

.card.accent {
  position: absolute;
  text-align: center;

  a {
    font-weight: bold;
  }
}

.card.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: var(--color-background-200);
  color: var(--color-foreground-100);
  text-decoration: none;
}

.card.grid figure, .card.grid img, .card.grid video {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: var(--transition-md);
}

.card.grid.vertical figure, .card.grid.vertical img, .card.grid.vertical video {
  width: auto;
  height: 100%;
}

.card.grid:hover img, .card.grid:hover video:not(.screen) {
  transform: scale(1.02);
}

/* Contained */
.card.grid .contained {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: var(--size-padding-2xl);
}

.contained img, .contained video {
  object-fit: contain;
}

/* Phone Frame */
.mockup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem var(--size-padding-xs);
  transition: var(--transition-md);
}

.card.grid .screen {
  object-fit: contain;
  overflow: hidden;
  max-width: 70%;
  height: auto;
  border-radius: clamp(2rem, 2.5vw, 3rem);
  border: 0.6rem solid var(--color-black);
}

.card.grid .screen img,
.card.grid .screen video {
  width: auto;
  height: auto;
}

.card.grid .frame {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  padding: var(--size-padding-xl);
  color: var(--color-black);
  pointer-events: none;
}

.card.grid:hover .mockup {
  transform: scale(1.02);
}

/* Card Colors */
.card.primary {
  background-color: var(--color-primary);
  
  *:not(a) {
    color: var(--color-primary-fg);
  }
}

.card.secondary {
  background-color: var(--color-secondary);

  *:not(a) {
    color: var(--color-secondary-fg);
  }
}

.card.white {
  background-color: var(--color-background-100);

  *:not(a) {
    color: var(--color-foreground-100);
  }
}

.card.green {
  background-color: #46B600;

  * {
    color: var(--color-primary-fg);
  }
}

.card.yellow {
  background-color: #FFF353;

  * {
    color: #543c07;
  }
}

.card.purple {
  background-color: #8F60FF;

  * {
    color: var(--color-primary-fg);
  }
}

.card.pink {
  background-color: #FF1A98;

  * {
    color: var(--color-primary-fg);
  }
}

.card.magenta {
  background-color: #FF0162;

  * {
    color: var(--color-primary-fg);
  }
}

/* Navigation */
#navbar {
  display: flex;
  flex-direction: row;
  gap: var(--size-padding-2xs);
  z-index: 1;
}

/* Main Navbar */
#navbar.top {
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  top: var(--size-padding-sm);
  width: 100%;
}

#navbar .tab {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--base-size-120) var(--base-size-160);
  font-family: var(--font-mono);
  font-size: var(--size-type-caption);
  line-height: 1;
  color: var(--color-foreground-300);
  transform-origin: bottom;
  transition: var(--transition-md);
}

#navbar.top a.tab.active {
  color: var(--color-foreground-100);
}

#navbar.top a.tab:hover {
  color: var(--color-primary);
  margin-bottom: calc(-1 * (var(--base-size-80)));
}

/* Footer Navbar */
#navbar.footer {
  align-items: flex-end;
  margin-left: var(--size-padding-lg);
  gap: var(--size-padding-sm);
}
#navbar.footer a.tab {
  background-color: var(--color-primary-bg);
  color: var(--color-primary);
}

#navbar.footer a.tab.active {
  background-color: var(--color-primary);
  color: var(--color-primary-bg);
}

#navbar.footer tab:hover {
  padding-bottom: var(--base-size-200);
  margin-top: calc(-1 * (var(--base-size-80)));
}

/* Article Header */
.status {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: var(--size-padding-sm);
}

.indicator {
  display: block;
  margin-top: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: var(--size-padding-sm);
}

.indicator.shipped {
  background-color: var(--color-success);
}

.indicator.roadmap {
  background-color: var(--color-pending);
}

.indicator.development {
  background-color: var(--color-warning);
}

/* Article Metadata */
.metadata {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(14ch,1fr));
  gap: var(--size-padding-lg);
}

.metadata.row {
  display: flex;
  grid-template-columns: unset;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--size-padding-xs);
}

.datapoint {
  display: flex;
  flex-direction: column;
  gap: var(--size-padding-2xs);
}

.datapoint.row {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--size-padding-sm);
}

/* Article Content */
.content {
  display: flex;
  flex-direction: column;
  gap: var(--size-padding-md);

  header {
    display: inherit;
    flex-direction: inherit;
    gap: var(--size-padding-xs);
  }

  section {
    display: inherit;
    flex-direction: inherit;
    gap: var(--size-padding-md);
  }
}

.content.sm {
  gap: var(--size-padding-xs);
}

article a[target="_blank"]::after {
  content: '';
  display: inline-block;
  margin-left: var(--base-size-40);
  width: var(--base-size-80);
  height: auto;
  aspect-ratio: 1/1;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml; utf8, %3Csvg viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.353516 4.5L4.35352 0.5M0.353516 0.5L4.35352 0.5L4.35352 4.5' stroke='black' stroke-width='0.6'/%3E%3C/svg%3E");
  mask-size: contain;
  mask-repeat: no-repeat;
  transition: var(--transition-fast);
}

article a[target="_blank"]:hover::after {
  transform: translateY(-0.0625rem) translateX(0.0625rem);
}

/* Article Navigation */
#toc {
  position: fixed;
  top: var(--size-padding-lg);
  right: var(--size-padding-lg);
}

.scroll {
  align-items: flex-end;
}

.floating.btn {
  position: fixed;
  aspect-ratio: 1/1;
  z-index: 2;
}

.back-link.floating.btn {
  top: var(--size-padding-lg);
  left: var(--size-padding-lg);
}

.scroll-top.btn {
  opacity: 0;
  bottom: var(--size-padding-lg);
  right: var(--size-padding-lg);
  transition: var(--transition-fast);
}

.scroll-top.btn.visible {
  opacity: 100;
}

@media (max-width: 768px) {
  .hide-on-idle {
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-md);
  }

  .hide-on-idle.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

/* Divider */
.divider {
  width: var(--base-size-20);
  height: var(--base-size-20);
  margin-top: 0.1rem;
  vertical-align: middle;
  aspect-ratio: 1/1;
  background-color: var(--color-border-2nd);
}

.divider.stretch {
  width: 100%;
  height: 0.06rem;
  vertical-align: middle;
  aspect-ratio: unset;
  background-color: var(--color-border-1st);
}

@media (max-width: 768px) {
  .divider.flex {
    width: 100%;
    height: 0.06rem;
    vertical-align: middle;
    aspect-ratio: unset;
    background-color: var(--color-border-1st);
  }
}

/* Media */
img, video, .cover {
  width: 100%;
  height: auto;
}

.portrait {
  position: relative;
  width: clamp(6rem, 10vw, 12rem);
  aspect-ratio: 200 / 230;
  object-fit: cover;
  padding: var(--size-padding-xs);
  background-color: var(--color-primary-fg);
  box-shadow: var(--color-shadow-sm);
}

/* Buttons */
button {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  cursor: pointer;
  font-family: var(--font-mono);
  font-size: var(--size-type-caption);
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: var(--size-padding-xs) var(--size-padding-sm);
  gap: var(--size-padding-xs);
  background-color: var(--color-background-200);
  color: var(--color-foreground-300);
  font-family: var(--font-mono);
  font-size: var(--size-type-caption);
  text-decoration: none;
  transition: var(--transition-fast);

  svg {
    width: var(--size-type-small);
    stroke-width: 0.05rem;
    aspect-ratio: 1/1;
  }
}

.btn:hover {
  color: var(--color-foreground-300);
  background-color: var(--color-background-300);
  border-bottom: inherit;
}

/* Dropdowns */
.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-background-200);
  user-select: none;
  cursor: pointer;
  gap: 0;
}

.dropdown summary::marker {
  content: "";
}

.dropdown summary .label {
  display: none;
  width: 100%;
  padding: var(--size-padding-xs) var(--size-padding-sm);
  color: var(--color-foreground-100);
  font-family: var(--font-mono);
  font-size: var(--size-type-small);
  white-space: nowrap;
}

.dropdown summary .btn {
  display: flex;
  align-items: center;
  padding: var(--size-padding-sm);
}

/* Burger Animation */
.dropdown .line-top,
.dropdown .line-middle,
.dropdown .line-bottom {
  transform-origin: center;
  transition: var(--transition-fast);
}

.dropdown details[open] .label {
  display: inline;
  width: 25ch;
}

.dropdown details[open] .line-top {
  transform: translateY(3.5px);
}

.dropdown details[open] .line-bottom {
  transform: translateY(-3.5px);
}

/* Dropdown Panel */
.dropdown ul {
  position: absolute;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dropdown.item {
  margin-block: 0;
  margin: 0;
}

.dropdown.item a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--size-padding-sm) var(--size-padding-md);
  background-color: var(--color-background-200);
  color: var(--color-foreground-300);
  font-family: var(--font-mono);
  font-size: var(--size-type-small);
  text-decoration: none;
}

.dropdown.item a:hover,
.dropdown.item a.active {
  background-color: var(--color-background-300);
}

.dropdown.item a.depth-3 { 
  padding-left: calc(var(--size-padding-md) * 2); 
}

.dropdown.item a.depth-4 {
  padding-left: calc(var(--size-padding-md) * 3); 
}

@media (min-width: 1200px) {
  .dropdown details[open] ul {
    display: block;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .wide {
    width: 100vw;
  }

  .row.wrap > * {
    width: 100%;
  }

  #bottom-nav, .btn {
    position: relative;
  }
}

/* Font Faces */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("https://use.typekit.net/af/d7ff92/00000000000000007735e609/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d7ff92/00000000000000007735e609/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d7ff92/00000000000000007735e609/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    url("https://use.typekit.net/af/6eb0e3/00000000000000007758cf8f/31/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/6eb0e3/00000000000000007758cf8f/31/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/6eb0e3/00000000000000007758cf8f/31/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url("https://use.typekit.net/af/e37e5a/00000000000000007735e60d/31/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e37e5a/00000000000000007735e60d/31/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e37e5a/00000000000000007735e60d/31/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    url("https://use.typekit.net/af/0bd0af/00000000000000007758cf8e/31/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/0bd0af/00000000000000007758cf8e/31/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/0bd0af/00000000000000007758cf8e/31/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i6&v=3") format("opentype");
}

@font-face {
  font-family: 'Gelica Light';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("https://use.typekit.net/af/b49bb6/0000000000000000774ba05e/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b49bb6/0000000000000000774ba05e/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b49bb6/0000000000000000774ba05e/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
}

@font-face {
  font-family: 'Gelica Light Italic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("https://use.typekit.net/af/a1df15/0000000000000000774ba05f/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/a1df15/0000000000000000774ba05f/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/a1df15/0000000000000000774ba05f/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("https://use.typekit.net/af/c77c44/00000000000000007735944d/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff")
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url("https://use.typekit.net/af/c2583c/00000000000000007735945e/31/d?subset_id=2&fvd=n7&v=3") format("woff")
}